<script>
  window.AnthemI18n = (function () {
    const strings = {
      game_network_error: {{ i18n "game_network_error" | jsonify }},
      game_full_weight: {{ i18n "game_full_weight" | jsonify }},
      game_full_anthem_bonus: {{ i18n "game_full_anthem_bonus" | jsonify }},
      game_weight_full_html: {{ i18n "game_weight_full_html" | jsonify }},
      game_weight_partial_html: {{ i18n "game_weight_partial_html" | jsonify }},
      game_session_creating: {{ i18n "game_session_creating" | jsonify }},
      game_session_label: {{ i18n "game_session_label" | jsonify }},
      game_error_too_many_sessions: {{ i18n "game_error_too_many_sessions" | jsonify }},
      game_error_rate_limited: {{ i18n "game_error_rate_limited" | jsonify }},
      game_error_session: {{ i18n "game_error_session" | jsonify }},
      game_error_create_session: {{ i18n "game_error_create_session" | jsonify }},
      game_error_vote_limit: {{ i18n "game_error_vote_limit" | jsonify }},
      game_error_vote_limit_default: {{ i18n "game_error_vote_limit_default" | jsonify }},
      game_error_matchup: {{ i18n "game_error_matchup" | jsonify }},
      game_error_load_matchup: {{ i18n "game_error_load_matchup" | jsonify }},
      game_error_vote: {{ i18n "game_error_vote" | jsonify }},
      game_error_record_vote: {{ i18n "game_error_record_vote" | jsonify }},
      game_flash_weight_note: {{ i18n "game_flash_weight_note" | jsonify }},
      game_flash_bonus_note: {{ i18n "game_flash_bonus_note" | jsonify }},
      game_flash_vote_success_html: {{ i18n "game_flash_vote_success_html" | jsonify }},
      game_listen_status_heard: {{ i18n "game_listen_status_heard" | jsonify }},
      countries_data_missing_html: {{ i18n "countries_data_missing_html" | jsonify }},
      countries_data_not_generated_html: {{ i18n "countries_data_not_generated_html" | jsonify }},
      countries_column_flag: {{ i18n "countries_column_flag" | jsonify }},
      countries_column_country: {{ i18n "countries_column_country" | jsonify }},
      countries_column_national_anthem: {{ i18n "countries_column_national_anthem" | jsonify }},
      countries_column_english_title: {{ i18n "countries_column_english_title" | jsonify }},
      countries_column_adopted: {{ i18n "countries_column_adopted" | jsonify }},
      countries_column_composer: {{ i18n "countries_column_composer" | jsonify }},
      countries_column_region: {{ i18n "countries_column_region" | jsonify }},
      countries_column_audio: {{ i18n "countries_column_audio" | jsonify }},
      countries_column_audio_format: {{ i18n "countries_column_audio_format" | jsonify }},
      countries_badge_none: {{ i18n "countries_badge_none" | jsonify }},
      countries_no_data_title: {{ i18n "countries_no_data_title" | jsonify }},
      countries_summary_html: {{ i18n "countries_summary_html" | jsonify }},
      datatable_search: {{ i18n "datatable_search" | jsonify }},
      datatable_length_menu: {{ i18n "datatable_length_menu" | jsonify }},
      datatable_info: {{ i18n "datatable_info" | jsonify }},
      datatable_info_empty: {{ i18n "datatable_info_empty" | jsonify }},
      datatable_info_filtered: {{ i18n "datatable_info_filtered" | jsonify }},
      datatable_all: {{ i18n "datatable_all" | jsonify }},
      leaderboard_error_api_unreachable: {{ i18n "leaderboard_error_api_unreachable" | jsonify }},
      leaderboard_error_api_unconfigured: {{ i18n "leaderboard_error_api_unconfigured" | jsonify }},
    };

    function interpolate(template, vars) {
      return String(template).replace(/\{(\w+)\}/g, function (_, key) {
        return Object.prototype.hasOwnProperty.call(vars, key) ? vars[key] : `{${key}}`;
      });
    }

    return {
      lang: {{ .Site.Language.Lang | jsonify }},
      strings,
      t(key, vars, fallback) {
        const template = Object.prototype.hasOwnProperty.call(strings, key)
          ? strings[key]
          : (fallback || key);
        return interpolate(template, vars || {});
      },
    };
  }());
</script>
