<script>
  window.AnthemI18n = (function () {
    const strings = {
      home_top3_fallback_html: `{{ i18n "home_top3_fallback_html" }}`,
      game_network_error: `{{ i18n "game_network_error" }}`,
      game_full_weight: `{{ i18n "game_full_weight" }}`,
      game_full_anthem_bonus: `{{ i18n "game_full_anthem_bonus" }}`,
      game_weight_full_html: `{{ i18n "game_weight_full_html" }}`,
      game_weight_partial_html: `{{ i18n "game_weight_partial_html" }}`,
      game_session_creating: `{{ i18n "game_session_creating" }}`,
      game_session_label: `{{ i18n "game_session_label" }}`,
      game_error_too_many_sessions: `{{ i18n "game_error_too_many_sessions" }}`,
      game_error_rate_limited: `{{ i18n "game_error_rate_limited" }}`,
      game_error_session: `{{ i18n "game_error_session" }}`,
      game_error_create_session: `{{ i18n "game_error_create_session" }}`,
      game_error_vote_limit: `{{ i18n "game_error_vote_limit" }}`,
      game_error_vote_limit_default: `{{ i18n "game_error_vote_limit_default" }}`,
      game_error_matchup: `{{ i18n "game_error_matchup" }}`,
      game_error_load_matchup: `{{ i18n "game_error_load_matchup" }}`,
      game_error_vote: `{{ i18n "game_error_vote" }}`,
      game_error_record_vote: `{{ i18n "game_error_record_vote" }}`,
      game_flash_weight_note: `{{ i18n "game_flash_weight_note" }}`,
      game_flash_bonus_note: `{{ i18n "game_flash_bonus_note" }}`,
      game_flash_vote_success_html: `{{ i18n "game_flash_vote_success_html" }}`,
      game_listen_status_heard: `{{ i18n "game_listen_status_heard" }}`,
      countries_data_missing_html: `{{ i18n "countries_data_missing_html" }}`,
      countries_data_not_generated_html: `{{ i18n "countries_data_not_generated_html" }}`,
      countries_column_flag: `{{ i18n "countries_column_flag" }}`,
      countries_column_country: `{{ i18n "countries_column_country" }}`,
      countries_column_national_anthem: `{{ i18n "countries_column_national_anthem" }}`,
      countries_column_english_title: `{{ i18n "countries_column_english_title" }}`,
      countries_column_adopted: `{{ i18n "countries_column_adopted" }}`,
      countries_column_composer: `{{ i18n "countries_column_composer" }}`,
      countries_column_region: `{{ i18n "countries_column_region" }}`,
      countries_column_audio: `{{ i18n "countries_column_audio" }}`,
      countries_column_audio_format: `{{ i18n "countries_column_audio_format" }}`,
      countries_badge_none: `{{ i18n "countries_badge_none" }}`,
      countries_no_data_title: `{{ i18n "countries_no_data_title" }}`,
      countries_summary_html: `{{ i18n "countries_summary_html" }}`,
      datatable_search: `{{ i18n "datatable_search" }}`,
      datatable_length_menu: `{{ i18n "datatable_length_menu" }}`,
      datatable_info: `{{ i18n "datatable_info" }}`,
      datatable_info_empty: `{{ i18n "datatable_info_empty" }}`,
      datatable_info_filtered: `{{ i18n "datatable_info_filtered" }}`,
      datatable_all: `{{ i18n "datatable_all" }}`,
      leaderboard_error_api_unreachable: `{{ i18n "leaderboard_error_api_unreachable" }}`,
      leaderboard_error_api_unconfigured: `{{ i18n "leaderboard_error_api_unconfigured" }}`,
      map_error_country_data: `{{ i18n "map_error_country_data" }}`,
      map_unknown_country: `{{ i18n "map_unknown_country" }}`,
      map_music: `{{ i18n "map_music" }}`,
      map_lyrics: `{{ i18n "map_lyrics" }}`,
      map_adopted: `{{ i18n "map_adopted" }}`,
      map_no_anthem: `{{ i18n "map_no_anthem" }}`,
      map_capital: `{{ i18n "map_capital" }}`,
    };
    const routes = {
      home: `{{ "" | relLangURL }}`,
      map: `{{ "map/" | relLangURL }}`,
      countries: `{{ "countries/" | relLangURL }}`,
      game: `{{ "game/" | relLangURL }}`,
      leaderboard: `{{ "leaderboard/" | relLangURL }}`,
    };

    function interpolate(template, vars) {
      return String(template).replace(/\{(\w+)\}/g, function (_, key) {
        return Object.prototype.hasOwnProperty.call(vars, key) ? vars[key] : `{${key}}`;
      });
    }

    return {
      lang: `{{ .Site.Language.Lang }}`,
      strings,
      routes,
      t(key, vars, fallback) {
        const template = Object.prototype.hasOwnProperty.call(strings, key)
          ? strings[key]
          : (fallback || key);
        return interpolate(template, vars || {});
      },
      route(name, fallback) {
        return Object.prototype.hasOwnProperty.call(routes, name) ? routes[name] : (fallback || '/');
      },
    };
  }());
</script>
