<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ "" | relLangURL }}">
            {{ i18n "nav_brand" }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="{{ i18n "nav_toggle" }}">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link{{ if .IsHome }} active{{ end }}" href="{{ "" | relLangURL }}">{{ i18n "nav_home" }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ with .File }}{{ if eq .BaseFileName "map" }} active{{ end }}{{ end }}" href="{{ "map/" | relLangURL }}">{{ i18n "nav_map" }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ with .File }}{{ if eq .BaseFileName "countries" }} active{{ end }}{{ end }}" href="{{ "countries/" | relLangURL }}">{{ i18n "nav_countries" }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ with .File }}{{ if eq .BaseFileName "game" }} active{{ end }}{{ end }}" href="{{ "game/" | relLangURL }}">{{ i18n "nav_game" }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ with .File }}{{ if eq .BaseFileName "leaderboard" }} active{{ end }}{{ end }}" href="{{ "leaderboard/" | relLangURL }}">{{ i18n "nav_leaderboard" }}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="languageMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ i18n "nav_language" }}: {{ .Site.Language.LanguageName }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageMenu">
                        {{ $current := . }}
                        {{ range $site := $.Sites }}
                        {{ $target := $site.Home.RelPermalink }}
                        {{ if eq $site.Language.Lang $current.Site.Language.Lang }}
                            {{ $target = $current.RelPermalink }}
                        {{ else }}
                            {{ range $translation := $current.AllTranslations }}
                                {{ if eq $translation.Language.Lang $site.Language.Lang }}
                                    {{ $target = $translation.RelPermalink }}
                                {{ end }}
                            {{ end }}
                            {{ if and (eq $target $site.Home.RelPermalink) (ne $current.Section "") }}
                                {{ $target = printf "%s%s/" $site.Home.RelPermalink $current.Section | replaceRE "/+" "/" }}
                            {{ end }}
                        {{ end }}
                        <li>
                            <a class="dropdown-item{{ if eq $site.Language.Lang $.Site.Language.Lang }} active{{ end }}" href="{{ $target }}">{{ $site.Language.LanguageName }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
