{
  "SessionFunction": {
    "SESSIONS_TABLE": "anthem-sessions-local",
    "RANKINGS_TABLE": "anthem-rankings-local",
    "VOTES_TABLE": "anthem-votes-local",
    "LISTEN_TABLE": "anthem-listen-history-local",
    "LOCAL_DYNAMODB_ENDPOINT": "http://172.17.0.1:4566",
    "AWS_ACCESS_KEY_ID": "test",
    "AWS_SECRET_ACCESS_KEY": "test",
    "MAX_SESSIONS_PER_IP": "5",
    "STAGE": "local"
  },
  "MatchupFunction": {
    "SESSIONS_TABLE": "anthem-sessions-local",
    "RANKINGS_TABLE": "anthem-rankings-local",
    "VOTES_TABLE": "anthem-votes-local",
    "LISTEN_TABLE": "anthem-listen-history-local",
    "LOCAL_DYNAMODB_ENDPOINT": "http://172.17.0.1:4566",
    "AWS_ACCESS_KEY_ID": "test",
    "AWS_SECRET_ACCESS_KEY": "test",
    "STAGE": "local"
  },
  "VoteFunction": {
    "SESSIONS_TABLE": "anthem-sessions-local",
    "RANKINGS_TABLE": "anthem-rankings-local",
    "VOTES_TABLE": "anthem-votes-local",
    "LISTEN_TABLE": "anthem-listen-history-local",
    "LOCAL_DYNAMODB_ENDPOINT": "http://172.17.0.1:4566",
    "AWS_ACCESS_KEY_ID": "test",
    "AWS_SECRET_ACCESS_KEY": "test",
    "MIN_LISTEN_MS": "3000",
    "MAX_VOTES_PER_SESSION": "100",
    "STAGE": "local"
  },
  "LeaderboardFunction": {
    "SESSIONS_TABLE": "anthem-sessions-local",
    "RANKINGS_TABLE": "anthem-rankings-local",
    "VOTES_TABLE": "anthem-votes-local",
    "LISTEN_TABLE": "anthem-listen-history-local",
    "LOCAL_DYNAMODB_ENDPOINT": "http://172.17.0.1:4566",
    "AWS_ACCESS_KEY_ID": "test",
    "AWS_SECRET_ACCESS_KEY": "test",
    "STAGE": "local"
  }
}
