{
  "SessionFunction": {
    "SESSIONS_TABLE": "anthem-sessions-local",
    "RANKINGS_TABLE": "anthem-rankings-local",
    "VOTES_TABLE": "anthem-votes-local",
    "LISTEN_TABLE": "anthem-listen-history-local",
    "LOCAL_DYNAMODB_ENDPOINT": "http://localstack:4566",
    "AWS_ACCESS_KEY_ID": "test",
    "AWS_SECRET_ACCESS_KEY": "test",
    "MAX_SESSIONS_PER_IP": "5",
    "STAGE": "local",
    "OTEL_EXPORTER_OTLP_ENDPOINT": "http://otel-collector:4318",
    "OTEL_SERVICE_NAME": "anthemworld-game",
    "OTEL_METRIC_EXPORT_INTERVAL_MS": "10000"
  },
  "MatchupFunction": {
    "SESSIONS_TABLE": "anthem-sessions-local",
    "RANKINGS_TABLE": "anthem-rankings-local",
    "VOTES_TABLE": "anthem-votes-local",
    "LISTEN_TABLE": "anthem-listen-history-local",
    "LOCAL_DYNAMODB_ENDPOINT": "http://localstack:4566",
    "AWS_ACCESS_KEY_ID": "test",
    "AWS_SECRET_ACCESS_KEY": "test",
    "MAX_MATCHUPS_PER_SESSION": "300",
    "STAGE": "local",
    "OTEL_EXPORTER_OTLP_ENDPOINT": "http://otel-collector:4318",
    "OTEL_SERVICE_NAME": "anthemworld-game",
    "OTEL_METRIC_EXPORT_INTERVAL_MS": "10000"
  },
  "VoteFunction": {
    "SESSIONS_TABLE": "anthem-sessions-local",
    "RANKINGS_TABLE": "anthem-rankings-local",
    "VOTES_TABLE": "anthem-votes-local",
    "LISTEN_TABLE": "anthem-listen-history-local",
    "LOCAL_DYNAMODB_ENDPOINT": "http://localstack:4566",
    "AWS_ACCESS_KEY_ID": "test",
    "AWS_SECRET_ACCESS_KEY": "test",
    "MIN_LISTEN_MS": "3000",
    "MAX_VOTES_PER_SESSION": "100",
    "STAGE": "local",
    "OTEL_EXPORTER_OTLP_ENDPOINT": "http://otel-collector:4318",
    "OTEL_SERVICE_NAME": "anthemworld-game",
    "OTEL_METRIC_EXPORT_INTERVAL_MS": "10000"
  },
  "LeaderboardFunction": {
    "SESSIONS_TABLE": "anthem-sessions-local",
    "RANKINGS_TABLE": "anthem-rankings-local",
    "VOTES_TABLE": "anthem-votes-local",
    "LISTEN_TABLE": "anthem-listen-history-local",
    "LOCAL_DYNAMODB_ENDPOINT": "http://localstack:4566",
    "AWS_ACCESS_KEY_ID": "test",
    "AWS_SECRET_ACCESS_KEY": "test",
    "STAGE": "local",
    "OTEL_EXPORTER_OTLP_ENDPOINT": "http://otel-collector:4318",
    "OTEL_SERVICE_NAME": "anthemworld-game",
    "OTEL_METRIC_EXPORT_INTERVAL_MS": "10000"
  }
}
